<?xml version="1.0"?>
<config>
  <modules>
    <Zeo_SocialLogin>
      <version>1.0.0</version>
    </Zeo_SocialLogin>
  </modules>
  <global>
    <helpers>
      <sociallogin>
        <class>Zeo_SocialLogin_Helper</class>
      </sociallogin>
    </helpers>
     <models>
      <sociallogin>
        <class>Zeo_SocialLogin_Model</class>
      </sociallogin>
    </models>
  </global>
  <frontend>
   <events>
      <core_block_abstract_to_html_after>
        <observers>
          <zeo_sli_core_block_abstract_to_html_after>
            <class>Zeo_SocialLogin_Model_Observer</class>
            <method>addCustomBlockToCustomerLogin</method>
          </zeo_sli_core_block_abstract_to_html_after>
        </observers>
      </core_block_abstract_to_html_after>
    </events>
	<layout>
	  <updates>
		<sociallogin>
		  <file>zeo/sociallogin.xml</file>
		</sociallogin>
	  </updates>
	</layout>
	  <routers>
      <sociallogin>
        <use>standard</use>
          <args>
            <module>Zeo_SocialLogin</module>
            <frontName>sociallogin</frontName>
          </args>
      </sociallogin>
    </routers>
  </frontend>
</config> 