<?xml version="1.0"?>
<config>
	<tabs>
		<zeo_config translate="label" module="sociallogin">
			<label>Zeo Extensions</label>
			<sort_order>500</sort_order>
		</zeo_config>
	</tabs>
	<sections>
		<zeo_sociallogin_setting translate="label" module="sociallogin">
			<label>Social Login</label>
			<tab>zeo_config</tab>
			<frontend_type>text</frontend_type>
			<sort_order>0</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<facebook translate="label">
					<label>Facebook setting</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<app_id translate="label">
							<label>App ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</app_id>
						<app_secret translate="label">
							<label>App Secret</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</app_secret>
					
					</fields>
				</facebook>
			</groups>
		</zeo_sociallogin_setting>
	</sections>
</config>
